<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="contact_management" translate="label" sortOrder="1000">
            <label>contact management</label>
        </tab>
        <section id="contact_management2" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>contact management2</label>
            <tab>contact_management</tab>
            <resource>Hadil_Contacts::contact_management</resource>
            <group id="contact" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Contact configuration</label>
                <field id="view_list" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show contact reasons</label>
                    <comment>Show contact list reasons</comment>
                    <source_model>Hadil\Contacts\Model\ResourceModel\Contact</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
